* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
}
input {
  display: block;
  margin-bottom: 20px;
  color:crimson;
}
button {
  border: 1px solid rgb(7, 4, 4);
  background: rgb(0, 216, 198);
  margin-right: 50px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: salmon;
  color: rgb(245, 236, 236);
}
